<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="post_list.css">
    <title>Anjara,s Blog</title>
</head>
<body>
    <header>
        <h1><a href=" " id="blogDG">Blog Django Girls</a></h1>
    </header>

    <article>
        <time>publication: 17.06.2024, 15:14</time>
        <h2><a href=" ">Mon premier article</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa officia rerum corrupti reiciendis vel sapiente illo cum qui recusandae possimus!</p>
    </article>

    <article>
        <time>publication: 14.06.2014, 16:02</time>
        <h2><a href="">Mon second article</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad omnis modi harum error voluptas quae placeat asperiores veniam sapiente, saepe, laboriosam quo rerum cum velit.</p>
    </article>
</body>
</html>